@import "tailwindcss";

@theme {
  --color-cream: #faf0dc;
  --color-brown: #5c3d1e;
  --color-salmon: #e8855a;
  --color-yellow-soft: #f5d98b;
  --color-teal-soft: #7fb5aa;
  --color-olive-soft: #b5bf8f;
}

body {
  font-family: var(--font-linter);
}

h1 {
  font-family: var(--font-inria-serif);
  font-size: 40px;
  font-weight: 700;
  color: #5c3d1e;
}

h2 {
  font-family: var(--font-inria-serif);
  font-size: 28px;
  font-weight: 700;
  color: #5c3d1e;
}

h3 {
  font-family: var(--font-inria-serif);
  font-size: 20px;
  font-weight: 600;
  color: #5c3d1e;
}

p {
  font-family: var(--font-linter);
  font-size: 14px;
  color: #5c3d1e;
}

a {
  font-family: var(--font-linter);
  font-size: 14px;
  text-decoration: underline;
  color: #5c3d1e;
}

.note-title {
  font-family: var(--font-inria-serif);
}
